*,
::before,
::after {
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: transparent;
}

:root {
    --font-body: 'Inter', sans-serif;
    --font-nav: 'Poppins', sans-serif;
    --font-heading: 'Sansita Swashed', cursive;

    --fs-hero-heading: clamp(4rem, -2.171rem + 8.036vw, 5.8rem);
    --fs-section-heading: clamp(3.2rem, -0.914rem + 5.357vw, 4.4rem);
    --fs-section-heading-small: clamp(2.8rem, 0.057rem + 3.571vw, 3.6rem);
    --fs-product-title: clamp(2rem, 1.314rem + 0.893vw, 2.2rem);
    --fs-body: clamp(1.6rem, 0.914rem + 0.893vw, 1.8rem);
    --fs-nav-link: clamp(1.5rem, 1.157rem + 0.446vw, 1.6rem);
    --fs-small-text: clamp(1.3rem, 0.957rem + 0.446vw, 1.4rem);

    --page-bg-color: #fff;
    --text-color-white: #f5f5f5;
    --text-color-black: #000;
    --text-color-gray: #b9b9b9;
    --text-color-light-gray: #f9f6f1;
    --text-color-white-pure: #fff;
    --text-color-sand: #e9bd8c;
    --text-color-light-sand: rgba(233, 189, 140, 0.8);
    --btn-bg-color: #933c24;
    --btn-bg-hover-color: rgba(147, 60, 36, 0.8);
    --tab-item-bg-hover-color: rgba(147, 60, 36, 0.3);
    --heading-color: #111;
    --desc-color: #5d5d5d;
    --desc-md-color: #4a4a4a;
    --nav-border-bottom-color: #d9d9d9;
    --footer-title-color: #e9bd8d;
    --footer-border-bottom-color: rgba(233, 189, 141, 0.2);
    --footer-copyright-color: #737373;
    --footer-text-hover-color: #fef08a;
    --title-product-active-color: rgba(255, 255, 255, 0.8);

    --section-spacing: clamp(5.6rem, -8.1143rem + 17.8571vw, 9.6rem);

    --drawer-bg-color: #1b1d22;
    --drawer-overlay-color: rgba(19, 21, 23, 0.6);
    --scrollbar-nav-color: #4b4f59;
    --bar-icon-bg-color: rgba(0, 0, 0, 0.35);
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--page-bg-color);

    font-family: var(--font-body);
    font-size: 1.6rem;
}

body:has(.header__input-checkbox:checked) {
    overflow: hidden;
}

a,
img,
button,
input,
label,
textarea,
select {
    padding: 0;
    border: none;
    outline: none;
    font-family: inherit;
    color: inherit;
}

a {
    text-decoration: none;
}

button {
    background: transparent;
    cursor: pointer;
}

input,
textarea {
    background: transparent;
}

img {
    display: block;
}

/* Common */
.container {
    width: min(calc(100% - 48px), 1120px);
    margin-inline: auto;
}

.heading {
    font-family: var(--font-heading);
    font-size: var(--fs-section-heading);
    font-weight: 600;
    color: var(--heading-color);
    text-align: center;
}

.desc {
    max-width: 320px;

    font-size: var(--fs-body);
    color: var(--desc-color);
    line-height: 1.3;
    text-align: center;

    @media (width < 992px) {
        color: var(--desc-md-color);
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items-center {
    display: flex;
    align-items: center;
}

.grid-auto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;

    @media (width < 992px) {
        gap: 12px;
    }
}

.btn {
    display: inline-flex;
    min-width: 160px;
    height: 54px;
    border-radius: 8px;

    background: var(--btn-bg-color);

    font-size: var(--font-body);
    font-weight: 600;
    color: var(--text-color-white);

    transition: transform 0.15s ease;

    &:active {
        transform: scale(0.96);
    }

    @media (hover: hover) {
        &:hover {
            background: var(--btn-bg-hover-color);
        }
    }

    @media (width < 992px) {
        min-width: 150px;
        height: 50px;
    }

    @media (width < 768px) {
        min-width: 140px;
        height: 48px;
    }
}

/* Header */
.header {
    position: absolute;
    inset: 0 auto auto 0;
    z-index: 10;

    width: 100%;
    padding-top: 20px;

    background: transparent;
}

.header__inner {
    gap: 124px;

    @media (width < 768px) {
        justify-content: space-between;
        gap: 0;
    }
}

.header__logo {
    flex-shrink: 0;
}

.header__open-menu {
    display: none;

    @media (width < 768px) {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 44px;
        height: 44px;
        border-radius: 6px;
        border: 1px solid var(--footer-border-bottom-color);

        background: var(--bar-icon-bg-color);
        color: var(--text-color-sand);
        backdrop-filter: blur(8px);

        & svg {
            width: 34px;
            height: 34px;
        }
    }
}

.header__menu-overlay {
    position: fixed;
    inset: 0;
    z-index: 100;

    background: var(--drawer-overlay-color);

    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.2s ease-out,
        visibility 0.2s ease-out;

    @media (width < 768px) {
        .header__input-checkbox:checked ~ & {
            opacity: 1;
            visibility: visible;
        }
    }
}

.nav {
    flex: 1;
    overflow: auto hidden;

    &::-webkit-scrollbar {
        height: 6px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 999px;
        background-color: var(--scrollbar-nav-color);
    }

    @media (width < 768px) {
        position: fixed;
        inset: 0 0 auto auto;
        z-index: 9999;

        width: min(60vw, 320px);
        height: 100dvh;
        padding: 32px 28px 32px;

        background: var(--drawer-bg-color);

        overflow: hidden auto;
        transform: translateX(100%);
        transition: transform 0.2s ease-out;

        .header__input-checkbox:checked ~ & {
            transform: translateX(0);
        }

        &::-webkit-scrollbar {
            width: 4px;
        }
    }
}

.nav__close-menu {
    display: none;

    @media (width < 768px) {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 44px;
        height: 44px;
        margin-left: auto;

        color: var(--text-color-white);
        transition: transform 0.15s ease;

        &:active {
            transform: scale(0.96);
        }

        & svg {
            width: 34px;
            height: 34px;
        }
    }
}

.nav__list {
    @media (width < 768px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.nav__item {
    flex-shrink: 0;
}

.nav__link {
    display: inline-block;
    padding: 8px 16px;

    font-family: var(--font-nav);
    font-size: var(--fs-nav-link);
    font-weight: 600;
    color: var(--text-color-white);

    &:active {
        opacity: 0.6;
    }

    @media (hover: hover) {
        &:hover {
            color: var(--text-color-sand);
        }
    }

    @media (width < 768px) {
        padding: 18px 0;
        font-weight: 500;
    }
}

.nav__link--active {
    color: var(--text-color-sand);
}

/* Hero */
.hero {
    position: relative;
    min-height: 100dvh;
}

.hero::after {
    content: '';

    position: absolute;
    inset: 0;
    z-index: -1;

    background: url(../images/hero-img.webp) center / cover no-repeat;

    @media (width < 992px) {
        background-image: url(../images/hero-img-md.webp);
    }
}

.hero__inner {
    display: flex;
    flex-direction: column;
    gap: clamp(4rem, -5.6rem + 16.6667vw, 7.2rem);
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, -0.8rem + 3.125vw, 1.6rem);
}

.hero__desc {
    font-size: var(--fs-body);
    font-weight: 600;
    color: var(--text-color-sand);
}

.hero__heading {
    max-width: 345px;

    font-family: var(--font-heading);
    font-size: var(--fs-hero-heading);
    color: var(--text-color-white);
    line-height: 1.2;
}

.hero__cta {
    gap: 20px;

    @media (width < 576px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }
}

.hero__link {
    font-size: var(--fs-body);
    font-weight: 600;
    color: var(--text-color-sand);

    &:active {
        color: var(--text-color-light-sand);
    }

    @media (hover: hover) {
        &:hover {
            text-decoration: underline;
        }
    }
}

/* Products */
.products,
.products__list {
    margin-top: var(--section-spacing);
}

.products-item {
    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 20px 28px 36px;
    border-radius: 8px;

    background: url(../images/products-bg.webp) center / cover no-repeat;

    transition: transform 0.3s ease;

    @media (hover: hover) {
        &:hover {
            transform: translateY(-5px);
        }
    }

    @media (width < 992px) {
        gap: 24px;
        padding: 20px 24px 28px;
    }
}

.products-item__thumb {
    width: 100%;
    height: 200px;

    @media (width < 992px) {
        height: 180px;
    }
}

.products-item__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;

    .products-item__thumb:active & {
        opacity: 0.8;
    }
}

.products-item__row {
    @media (width < 768px) {
        gap: 40px;
    }
}

.products-item__price,
.products-item__title {
    font-size: var(--fs-product-title);
    font-weight: 600;
    color: var(--text-color-white-pure);
}

.products-item__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    max-width: 165px;

    font-weight: 500;
    line-height: 1.3;
    overflow-wrap: break-word;

    &:active {
        color: var(--title-product-active-color);
    }

    @media (width < 768px) {
        max-width: 100%;
    }
}

.products-item__info {
    width: 40px;
    height: 40px;
    border: 1px solid var(--text-color-white);
    border-radius: 50%;
    margin-inline: auto 16px;

    font-weight: 500;
    color: var(--text-color-white);

    &:active {
        opacity: 0.8;
    }

    @media (hover: hover) {
        &:hover {
            background: var(--text-color-white);
            color: var(--heading-color);
        }
    }

    @media (width < 992px) {
        &:active {
            background: var(--text-color-white);
            color: var(--heading-color);
        }
    }

    @media (width < 768px) {
        width: 44px;
        height: 44px;
    }
}

.products-item__btn {
    min-width: 72px;
    height: 48px;
    border-radius: 4px;

    font-weight: 500;
    color: var(--text-color-white-pure);

    transition: transform 0.15s ease;

    &:active {
        transform: scale(0.96);
    }

    @media (width < 768px) {
        min-width: 64px;
        height: 44px;
    }
}

/* Discount */
.discount {
    flex-direction: column;
    gap: 36px;

    padding-block: 52px;
    margin-top: var(--section-spacing);

    background: url(../images/discount-bg.webp) center / cover no-repeat;

    @media (width < 992px) {
        gap: 28px;
        padding-block: 44px;

        background-image: url(../images/discount-bg-md.webp);
    }
}

.discount__heading {
    max-width: 220px;

    font-family: var(--font-heading);
    font-size: var(--fs-section-heading-small);
    font-weight: 500;
    color: var(--btn-bg-color);
    line-height: 1.2;
    text-align: center;
}

.discount__btn {
    border-radius: 10px;
    color: var(--text-color-light-gray);
}

/* Explore */
.explore {
    margin-top: var(--section-spacing);
}

.tabs {
    border-bottom: 1px solid var(--nav-border-bottom-color);
    margin-block: 72px 88px;

    overflow: auto hidden;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    @media (width < 992px) {
        margin-block: 56px 64px;
    }

    @media (width < 768px) {
        margin-block: 40px 48px;
    }
}

.tabs__list {
    gap: 40px;

    @media (width < 992px) {
        gap: 28px;
    }
}

.tab-item {
    position: relative;

    flex-shrink: 0;
    padding-bottom: 12px;
    cursor: pointer;

    @media (width < 992px) {
        padding-bottom: 8px;
    }
}

.tab-item--active::after,
.tab-item:not(.tab-item--active):hover::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 50%;

    width: 70px;
    height: 6px;
    border-radius: 999px;

    transform: translateX(-50%);

    @media (width < 992px) {
        width: 56px;
        height: 5px;
    }

    @media (width < 768px) {
        width: 44px;
        height: 4px;
    }
}

.tab-item--active::after {
    background: var(--btn-bg-color);
}

@media (hover: hover) {
    .tab-item:not(.tab-item--active):hover::after {
        background: var(--tab-item-bg-hover-color);
    }
}

.tab-item__btn {
    font-family: var(--font-nav);
    font-size: var(--fs-body);
    font-weight: 600;
    color: var(--desc-color);
    line-height: 1;

    transition: transform 0.15s ease;

    &:active {
        transform: scale(0.96);
    }
}

.gallery-item__thumb {
    width: 100%;
    aspect-ratio: 360 / 350;
    border-radius: 8px;
    overflow: hidden;
}

.gallery-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: transform 0.3s ease;

    @media (hover: hover) {
        &:hover {
            transform: scale(1.08);
        }
    }

    .gallery-item__link:active & {
        opacity: 0.8;
    }
}

/* About */
.about {
    flex-direction: column;
    gap: 44px;

    padding-block: 52px;
    margin-top: var(--section-spacing);

    background: url(../images/about-bg.webp) center / cover no-repeat;

    @media (width < 992px) {
        gap: 32px;
        padding-block: 44px;
    }
}

.about__heading {
    font-family: var(--font-heading);
    font-size: var(--fs-section-heading-small);
    font-weight: 600;
    color: var(--text-color-white);
}

.about__desc {
    color: var(--text-color-gray);
}

.about__btn {
    border-radius: 10px;
}

/* Featured */
.featured {
    margin-top: var(--section-spacing);
}

.featured__list {
    margin-top: var(--section-spacing);
}

.featured__wrapper {
    display: block;
    width: 100%;
    aspect-ratio: 360 / 356;
    overflow: hidden;
}

.featured__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.08);
    }
}

.featured__info {
    padding-inline: 60px;
    margin-top: 32px;
}

.featured__name,
.featured__price {
    font-size: var(--fs-product-title);
    font-weight: 600;
    color: var(--text-color-black);
}

/* Footer */
.footer {
    padding-block: 20px 40px;
    margin-top: var(--section-spacing);

    background: url(../images/footer-bg.webp) center / cover no-repeat;
}

.footer__top {
    border-bottom: 2px solid var(--footer-border-bottom-color);
}

.social {
    gap: 32px;
    margin-inline: auto 120px;
}

.social__label {
    font-size: var(--fs-body);
    font-weight: 600;
    color: var(--footer-title-color);
}

.social__list {
    gap: 16px;
}

.social__icon {
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-3px);
    }

    & svg {
        width: 32px;
        height: 32px;
    }
}

.footer__main {
    gap: 0;
    margin-block: 32px 60px;
}

.footer__heading {
    margin-bottom: 20px;

    font-size: var(--fs-body);
    font-weight: 700;
    color: var(--footer-title-color);
}

.footer__info,
.footer__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__text {
    display: inline-block;
    width: fit-content;

    font-family: var(--font-nav);
    font-size: var(--fs-small-text);
    font-weight: 600;
    color: var(--text-color-white);
    line-height: 1.4;

    transition:
        transform 0.2s ease,
        color 0.2s ease;

    &:not(.footer__address):hover {
        color: var(--footer-text-hover-color);
        transform: translateY(-2px);
    }
}

.footer__text--small {
    font-weight: 500;
}

.footer__address {
    max-width: 243px;
    font-weight: 500;
}

.news__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
}

.news-item {
    display: flex;
    align-items: flex-start;
    column-gap: 24px;
}

.news-item__thumb {
    flex-shrink: 0;
    width: 100px;
    aspect-ratio: 100 / 67;
    overflow: hidden;
}

.news-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.08);
    }
}

.news-item__time {
    display: block;
    margin-bottom: 4px;

    font-family: var(--font-nav);
    font-size: var(--fs-small-text);
    color: var(--footer-title-color);
}

.footer__copyright {
    font-size: var(--fs-body);
    font-weight: 600;
    color: var(--footer-copyright-color);
    text-align: center;
}
