*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --bg-color-white: #fff;
    --text-color-white: #f5f5f5;
    --text-color-sand: #e9bd8c;
    --header-bg: transparent;
    --header-bg-scrolled: #111;
}

html {
    font-size: 62.5%;
}

body {
    height: 10000px;
    background: var(--bg-color-white);

    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
}

a,
img,
button,
input,
label,
textarea,
select {
    padding: 0;
    border: none;
    outline: none;
    color: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
}

button {
    background: transparent;
    cursor: pointer;
}

input,
textarea {
    background: transparent;
}

img {
    display: block;
}

/* Common */
.container {
    width: min(calc(100% - 48px), 1120px);
    margin-inline: auto;
}

/* Header */
.header {
    position: sticky;
    top: -9.5px;
    padding-block: 19px 9.5px;

    background: var(--header-bg);
    transition: background-color 0.3s;
}

.header.scrolled {
    background: var(--header-bg-scrolled);
}

.header__inner {
    display: flex;
    align-items: center;
}

.nav {
    margin-left: 123px;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__link {
    padding: 7.5px 15px;

    color: var(--text-color-white);

    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
    font-weight: 600;

    &:hover {
        color: var(--text-color-sand);
    }
}
