*,
::before,
::after {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

a,
img,
button,
input,
label,
textarea,
select {
    padding: 0;
    border: none;
    outline: none;
    color: inherit;
    font-family: inherit;
}

input,
textarea {
    background: transparent;
}

img {
    display: block;
}
